attemption_for_08/Release/**
attemption_for_08/Debug/**
*.sdf
*.ncb
attemption_for_08/_UpgradeReport_Files/**
attemption_for_08/attemption_for_08/Release/**
attemption_for_08/attemption_for_08/Debug/**
attemption_for_08/attemption_for_08/_UpgradeReport_Files/**